<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">單一登入入口 SSO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/forget/password">忘記密碼</a>
        </li>
        <li class="nav-item" *ngIf="! signInCurrently">
          <a class="nav-link active" aria-current="page" href="/signup">註冊</a>
        </li>
        <li class="nav-item" *ngIf="! signInCurrently">
          <a class="nav-link active" aria-current="page" href="/signin">登入</a>
        </li>
        <li class="nav-item" *ngIf="signInCurrently">
          <a class="nav-link active" aria-current="page" href="/signout">登出</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
