<div class="card">
  <div class="card-header">
    重設密碼
  </div>
  <div *ngIf="tokenIsValid" class="card-body">
    <h5 class="card-title">請在下方輸入重設密碼的資料，以重設您的密碼</h5>
    <div class="mb-3">
      <label for="email-address" class="form-label">電子郵件地址</label>
      <input type="email" class="form-control" id="email-address" [(ngModel)]="emailAddress" disabled placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">新密碼</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" placeholder="請輸入密碼">
    </div>
    <div class="mb-3">
      <label for="password-confirmation" class="form-label">確認新密碼</label>
      <input type="password" class="form-control" id="password-confirmation" [(ngModel)]="passwordConfirmation" placeholder="請輸入密碼">
    </div>
    <div class="text-center">
      <button class="btn btn-success" (click)="submit()">修改密碼</button>
    </div>
  </div>
  <div *ngIf="! tokenIsValid" class="card-body">
    <h3 class="text-center text-danger">給定的權杖不正確，無法進行密碼重設</h3>
  </div>
</div>
